<h1>This is a CRUD application</h1>

<br>
<div class="indexCredentials">
  Click on Sign Up and create an account and then go to sign in enter credentials
    and login to perform crud operations. <br>

  For testing you can use default account <br>
  email:- default@gamil.com <br>
  password:- default123 <br>
</div>


<br>
<h2>Commands to be executed</h2>


<ul class="list-group">
  <li class="list-group-item">rails new <span class="selection">APPLICATION-NAME</span></li>

  <li class="list-group-item">bundle install   <span class="indexComment">to install all the gems</span></li>
  
  <li class="list-group-item">rails generate controller home index   
    <span class="indexComment">to generat home controller, views</span>
  </li>
  
  <li class="list-group-item">rails routs 
    <span class="indexComment">to checkout the syntax of the routs to be used</span>
  </li>
  
  <li class="list-group-item">rails g scaffold friends first_name:string 
          last_name:string email:string phone:string facebook:string<br>
    <span class="indexComment">to generat CRUD controller views routs etc.</span>
  </li>
  
  <li class="list-group-item">rails db:migrate 
    <span class="indexComment">to create the CRUD schema in database</span>
  </li>
  
  <li class="list-group-item">rails s
    <span class="indexComment">to start the server</span>
  </li>
</ul>


