 .table th, td {
    text-align: center;
    } 

.selection {
      color: red;
      font-weight: bold;
 }

.indexComment {
   color: yellowgreen;
   font-style: italic;
}

.indexCredentials {
   color: #6495ED;
   font-size: 20px;
   font-style: bold;
}

.emailHeader {
   color: whitesmoke;
}

.buttonHeader {
   background-color: transparent;
   color: #777;
   border: none
 }

 .buttonHeader:hover {
   text-decoration: none;
   color: whitesmoke;
 }

 .showFriendDetails {
   background-color: transparent;
   color: black;
   border: none
 }